caption {
	caption-side: top;
}

.delete-button {
	margin-left: 5px;
}

.page-limit {
	border-radius: 0.25rem;
	width: 100px;
}

.page-item {
	width: auto;
}

.pagination {
	width: auto;
	margin: 0 auto;
	justify-content: center;
}

.registration-box {
	position: relative;
	background: lightgrey;
	height: auto;
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	resize: both;
	overflow: auto;
}

.right-align {
	text-align: right;
}

.row {
	margin: 15px 0;
	float: right;
}

.row > * {
	margin: 5px;
}

.submit-button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 6px 12px;
	border-radius: 5px;
	cursor: pointer;
}