.delete-button {
	margin-left: 5px;
}

.login-box {
	position: relative;
	background: lightgrey;
	height: 300px;
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	resize: both;
	overflow: auto;
}

.right-align {
	text-align: right;
}

.row {
	margin: 15px 0;
	float: right;
}

.row > * {
	margin: 5px;
}

.submit-button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 6px 12px;
	border-radius: 5px;
	cursor: pointer;
}